body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: 100vh;
  overflow: hidden;
}
#main {
width: 300px;
  border-style: double;
  background-color: #15aabf;
  color: white;
  text-align: center;
  border-radius: 10px;
}
.card {
  width: 300px;
  height: 70px;
  padding: 20px;
  margin: 10px;
  background-color: #15aabf;
  color: white;
  font-size: 22px;
  font-weight: 500;
  border-radius: 10px;
}

.card:hover {
  background-color: rgba(162, 161, 161, 0.689);
  transition: 0.5s;
  cursor: pointer;
}
